*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 100%;
    background-image: linear-gradient(rgba(3, 21, 5, 0.8) ,rgba(3, 21, 5, 0.8)), url(headerpic.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar{
    background-color:#03ef00 ;
    width: 100%;
    height: 100px;
    margin: auto;
}

.icon{
    width: 200px;
    height: 70px;
}

.logo{
    padding-left: 20px;
    padding-top: 20px;
    width: 300px;
    height: auto;
}

.menu{
    width: 400px;
    height: 70px; 
    float: right;
}

.menulist{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -55px;
}

ul li{ 
    list-style: none;
    margin-right: 60px;
    margin-top: 27px;
    font-size: 14px;
    text-transform: uppercase;
}

ul li a{
    text-decoration: none;
    color: #031505;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{ 
    color: #ffffff;
    text-decoration: underline;
    transition: 0.5s;

}

.header{
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: Arial;
}
 
.header h1{ 
    font-size: 60px;
}
.header p{
    margin: 10px 0 30px 0;
    font-size: 14px;
    color: white;
}

.btn-head{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 50px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.btn-head:hover{
    border: 1px solid #03ef00;
    background-color: #03ef00;
    border-radius: 10px;
    transition: 1s;
}
.row{
    display: flex;
    align-items: center;
}

.About-us {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}
.About-col{
    flex-basis: 48%;
    padding: 30px 2px;
    margin: 15px;
}
.About-col img{
    width: 100%;
}

.About-col h2{
    padding-top: 0px;
    color: #03ef00;
    font-size: 32px;
}
.About-col p{
    padding: 15px 0 25px;
}

.btn-head1{
    display: inline-block;
    text-decoration: none;
    color: #03ef00;
    border: 1px solid #03ef00;
    padding: 12px 50px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.btn-head1:hover{
    border: 1px solid #031505;
    background-color: #031505;
    color: white;
    border-radius: 10px;
    transition: 1s;
}
.services {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #031505;
   
}

.services h2{
    color: #03ef00;
    font-size: 32px;
    font-weight: 600;
}

.services p{
    color: white;
    padding: 10px;
}

.row1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.servicescol {
    flex-basis: 31%;
    background: #03CC00;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.servicescol h3 {
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.leadership {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.leadership h2{
    color: #03ef00;
    font-size: 32px;
    font-weight: 600;
}

.leadership p{
    padding: 10px;
}
.leadcol {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.leadcol img{
    width: 100%;
    border-radius: 10px;
    
}

.leadcol p{
    padding: 0;
}

.leadcol h3{
    margin-top: 16px;
    margin-bottom: 5px;
    text-align: center;
}
.contact {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
    background-color: #031505;
    height: 20vh;
}

.contact h2{
    color: #03ef00;
    font-size: 32px;
    font-weight: 600;
}

.contact p{
    padding: 10px;
}
span{
    color: #03ef00;
    font-weight: 500;
}
.btn-head2{
    display: inline-block;
    text-decoration: none;
    color: #03ef00;
    border: 1px solid #03ef00;
    padding: 12px 50px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.btn-head2:hover{
    border: 1px solid #03ef00;
    background-color: #03ef00;
    color: white;
    border-radius: 10px;
    transition: 1s;
}

